/* Planner */
.preview a.label.planner-label {
  background-color: #64b4f2;
  color: #395468;
  border-radius: 20px;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.planner-label + a.remove:before {
  border-color: #395468;
}

.labels_maker .selected.labels li a.label.planner-label,
.labels_maker .selected.labels li a.label.planner-label + a.remove {
  background-color: #64b4f2;
  color: #395468;
}

.labels_maker .selected.labels li a.label.planner-label:hover,
.labels_maker .selected.labels li a.label.planner-label + a.remove:hover {
  background-color: #395468;
  color: #fff;
}

/* Blocked */
.preview a.label.blocked-label {
  background-color: #CD2644;
  color: #fff;
  border-radius: 20px;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.blocked-label + a.remove:before {
  border-color: #FFF;
}

.labels_maker .selected.labels li a.label.blocked-label,
.labels_maker .selected.labels li a.label.blocked-label + a.remove {
  background-color: #CD2644;
  color: #FFF;
}

.labels_maker .selected.labels li a.label.blocked-label:hover,
.labels_maker .selected.labels li a.label.blocked-label + a.remove:hover {
  background-color: #CD2644;
  color: #fff;
}

/* Attention */

.preview a.label.church-metrics-label {
  background-color: #7fc661;
  color: #416E28;
  border-radius: 20px;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.attention-label + a.remove:before {
  border-color: #416E28;
}

.labels_maker .selected.labels li a.label.attentions-label,
.labels_maker .selected.labels li a.label.attention-label + a.remove {
  background-color: #7fc661;
  color: #416E28;
}

.labels_maker .selected.labels li a.label.attention-label:hover,
.labels_maker .selected.labels li a.label.attention-label + a.remove:hover {
  background-color: #416E28;
  color: #fff;
}

/* Live */

.preview a.label.live-label {
  background-color: #00e700;
  color: #a6610e;
  border-radius: 20px;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.live-label + a.remove:before {
  border-color: #fff;
}

.labels_maker .selected.labels li a.label.live-label,
.labels_maker .selected.labels li a.label.live-label + a.remove {
  background-color: #00e700;
  color: #fff;
}

.labels_maker .selected.labels li a.label.live-label:hover,
.labels_maker .selected.labels li a.label.live-label + a.remove:hover {
  background-color: #00e700;
  color: #fff;
}
